/////// variables ///////

@small-device: 768px;
@medium-device: 992px;
@large-device: 1200px;

/////// Import Other less files ///////
@import 'theme';

.app{
  height: 100%;
  display: flex;
  flex-direction: column;

  main{
    display: flex;
    height: 100%;
  }
}

.button{
  padding: 5px 10px;
  margin: auto;
  text-align: center;
  background-color: white;
  cursor: pointer;
  font-size: 12px;

  &:hover{
    background-color: #ffdd20;
    color: white;
  }
}

.menu-wrapper{
  width: 20%;
  min-width: 300px;
  min-height: 100%;
  background-color: #ffffff;
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 5px 0px 13px -5px rgba(0, 0, 0, 0.75);
  z-index: 3;
  overflow-y: scroll;

  #editor-title{
    font-size: 36px;
    font-weight: 400;
    color: #616161;
    -webkit-font-smoothing: antialiased;
    margin: 20px 15px 20px 15px;
    padding: 0;
    border-bottom: white solid 1px;
  }

  .section-type-title{
    font-size: 18px;
    color: #616161;
    margin: 10px 15px 10px 0;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }

  .section-settings{
    padding: 0 20px;
    h4{
      padding: 0;
      font-size: 14px;
      color: #616161;
    }
  }

  .editor-section{
    display: flex;
    padding: 0 20px;

    .button{
      background-color: #616161;
      color: white;
      flex:1;
      &:hover{
        background-color: #ffdd20;
      }
    }

    h3{
      font-size: 18px;
      color: #616161;
      margin: 10px 15px 10px 0;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      flex: 3;
    }

    &.select {
      flex-direction: column;
      .section-select {
        border-radius: 0;
        height: 30px;
        font-size: 14px;
      }
    }
  }
}

header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 15px;
  background-color: #616161;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
  z-index: 4;
  position: relative;

  img{
    height: 50px;
  }

  .app-control-wrapper{
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    .button{
      margin: 0 5px;
    }
  }

  .site-url-input-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    label{
      color: white;
    }

    input{
      width: 300px;
      margin: 5px 15px;
    }
  }

}

.home-multisection-widget {
  width: 100%;
  overflow: scroll;

  .multisection-section {
    transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);

    .select-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      display: flex;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      .center-flex-item {
        display: inline-block;
        margin: auto;
        font-size: 28px;
      }

      &.empty {
        opacity: 1;
        border: 1px solid black;
      }

    }

    &.selected {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
      z-index: 2;

      .select-overlay {
        display: none;
      }

    }
  }
}

.bg-white{
  background-color: #ffffff;
}

.window{
  position: fixed;
  width: 100%;
  height: 100%;
  transition: z-index 0.5s step-end, opacity 0.5s linear;
  opacity: 0;
  z-index: 1;

  &.active{
    z-index: 10;
    opacity: 1;
    transition: z-index 0.5s step-start, opacity 0.5s linear;

    .content-container{
      display: flex;
    }
  }

  .overlay{
    background-color: black;
    opacity: 0.7;
    z-index: -1;
  }

  .content-container{
    height: 100%;
    width: 100%;
    display: none;

    .content {
      width: 50%;
      margin: auto;
      background: white;
      display: flex;
      flex-direction: column;
      padding: 10px;

      h2 {
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 10px 0;
        border-bottom: solid #616161 1px;
      }

      .controls{
        display: flex;
        justify-content: center;

        .button{
          background-color: #616161;
          color: white;
          margin: 10px 5px;
          opacity: 1;
          padding: 10px;
          &:hover{
            background-color: #ffdd20;
          }
        }
      }

      .message {
        margin: 20px 0;
        text-align: center;
        font-size: 18px;
      }

      .import{
        textarea{
          height: 40%;
        }
      }
    }
  }
}