/////// variables ///////

@small-device: 768px;
@medium-device: 992px;
@large-device: 1200px;




main{
  display: flex;
}

.menu-wrapper{
  width: 20%;
  min-width: 300px;
  height: 100%;
  background-color: #616161;
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.home-multisection-widget{
  width: 100%;
}

#editor-title{
  font-size: 36px;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  margin: 20px 15px 20px 15px;
  padding: 0;
  border-bottom: white solid 1px;
}

.section-type-title{
  font-size: 18px;
  color: #ffdd20;
  margin: 10px 15px 10px 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.section-settings{
  padding: 0 20px;
}