/////// variables ///////

@small-device: 768px;
@medium-device: 992px;
@large-device: 1200px;




main{
  display: flex;
}

.menu-wrapper{
  width: 20%;
  min-width: 300px;
  height: 100%;
  background-color: #616161;
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.home-multisection-widget{
  width: 100%;
}