{% if section.posts|length > 0 %}
    {% for post in section.posts %}
    <section class="multisection-section section-button-link section-single-listing col-sm-6 {{ section.size }}" style="background-image: url('{{ post['meta']['images'][0]['800x600'] }}');">
        <div class="section-single-listing-wrapper">
            <div class="l-table">
                <div class="l-table-row">
                    <div class="l-table-cell">
                        <div class="section-button-link-container">
                            <a href="{{ post.url|raw }}" class="btn brand-colors brand-colors-hover">{{ section.buttonText ? section.buttonText : 'View Listing' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endif %}