<section class="multisection-section section-image-text col-sm-6 {{ section.size }}" style="background-image: url('{{ section.bgImageUrl }}');">
	<div class="multisection-section-overlay l-table" style="background-color: rgba(0,0,0,{{ section.transparency ? section.transparency : '0.6' }}) !important;">
		<div class="l-table-row">
			<div class="l-table-cell">
				<div class="section-image-text-container">
					{% if section.caption %}
						<p class="section-image-text-caption">{{ section.caption|raw|nl2br }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
